.footer__copyright {
  background-color: transparent;
  color: #545454;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-top: 48px;
    margin-bottom: 36px;
    margin-left: 35px;
  }
}
