.header {
  margin-top: 45px;
}

.header::after {
  content: "";
  display: block;
  border-top: 1px solid #545454;
  margin: 41px 0 10px;
}

@media screen and (max-width: 1100px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 999px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 800px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 665px) {
  .header {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}
