@import url(../vendor/fonts.css);

/* Page Section */

.page {
  background-color: #000;
  color: #fff;
  max-width: 1280px;
  margin: auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 880px;
  margin: 0 200px 0;
}

.page__section {
  width: 100%;
  position: relative;
}

/* header Section */

.header {
  margin-top: 45px;
}

.solid-line {
  height: 0px;
  opacity: 0.7;
  border: 1px solid #545454;
  margin-top: 30px;
}

/* Profile Section */

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile__info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "title edit-button"
    "description description";
  margin-top: 30px;
}

.profile__edit-button {
  background: transparent url(../images/pencil-icon.svg) center no-repeat;
  margin-left: 18px;
  margin-top: 18px;
  grid-area: edit-button;
  height: 15px;
  width: 15px;
  padding: 10px;
}

.profile__add-button {
  background: transparent url(../images/plus-icon.svg) center no-repeat;
  height: 22px;
  width: 22px;
  padding: 20px 64px;
  margin: 75px 0 70px auto;
}

.profile__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  grid-area: title;
}

.profile__description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  margin: 0;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 24px;
}

/* Cards Section */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 17px;
  justify-content: center;
}

.card__image {
  width: 282px;
  height: 282px;
  margin-bottom: -5px;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
  width: 242px;
  border-radius: 0 0 10px 10px;
  margin-right: 0;
}

.card__title {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/heart-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
}

/* Footer Section */

.footer__copyright {
  background-color: transparent;
  color: #545454;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 67px;
  margin-bottom: 60px;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .content {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1100px) {
  .page__content {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }

  .content {
    margin: 0 auto;
  }

  .solid-line {
    margin: 32px 10px 0;
  }

  .profile {
    margin: 40px 0 40px 20px;
  }

  .profile__add-button {
    margin-left: -40px;
  }

  .profile__description {
    margin-top: 14px;
    width: 100px;
  }
}

@media screen and (max-width: 999px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }

  .content {
    margin: 0 auto;
  }

  .solid-line {
    margin: 32px 10px 0;
  }

  .profile {
    margin: 40px 0 40px 20px;
  }

  .profile__add-button {
    margin-left: -40px;
  }

  .profile__description {
    margin-top: 14px;
    width: 100px;
  }
}

@media screen and (max-width: 800px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }

  .content {
    margin: 0 auto;
  }

  .solid-line {
    margin: 32px 10px 0;
  }

  .profile {
    margin: 40px 0 40px 20px;
  }

  .profile__add-button {
    margin-left: -40px;
  }

  .profile__description {
    margin-top: 14px;
    width: 100px;
  }


@media screen and (max-width: 665px) {
    .header {
      max-width: 100%;
    }

    .content {
      margin: 0 auto;
    }

    .profile__add-button {
      margin-right: 30px;
    }

    .profile__edit-button {
      margin-bottom: 30px;
      margin-left: -40px;
    }

    .cards {
      justify-content: center;
    }
  }

@media screen and (max-width: 470px) {
    .cards {
      justify-content: center;
    }
  }

@media screen and (max-width: 320px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }

  .page__content {
    max-width: 100vw;
    margin: 0;
  }

  .solid-line {
    width: 100vw;
    margin: 32px 0 0;
  }

  .profile {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    margin-left: 43px;
  }

  .profile__add-button {
    background: transparent url(../images/plus-icon.svg) center no-repeat;
    height: 16px;
    width: 16px;
    padding: 20px 140px;
    margin: 53px 19px 36px;
  }

  .profile__edit-button {
    margin-right: -15px;
    margin-top: 3px;
    height: 7px;
    width: 7px;
    padding: 8px;
  }

  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    text-align: center;
  }

  .cards {
    margin-left: 19px;
  }

.footer__copyright {
  font-size: 14px;
  line-height: 17px;
  margin-top: 48px;
  margin-bottom: 36px;
  margin-left: 19px;
}