.page {
  background-color: #000;
  color: #fff;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  margin-top: 45px;
  max-width: 880px;
}

.solid-line {
  max-width: 880px;
  height: 0px;
  opacity: 0.7;
  border: 1px solid #545454;
  margin-top: 30px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title edit-button"
    "description description";
  margin-top: 30px;
}

.profile__edit-button {
  background: transparent url(../images/pencil-icon.svg) center no-repeat;
  margin-left: 18px;
  margin-top: 18px;
  grid-area: edit-button;
  height: 15px;
  width: 15px;
  padding: 8px;
}

.profile__add-button {
  background: transparent url(../images/plus-icon.svg) center no-repeat;
  height: 22px;
  width: 22px;
  padding: 20px 64px;
  margin: 75px 0 60px auto;
}

.profile__title {
  font-size: 42px;
  font-family: "IBM Plex Serif";
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  grid-area: title;
}

.profile__description {
  font-size: 18px;
  font-family: "IBM Plex Serif";
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 24px;
}

.card__image {
  width: 282px;
  height: 282px;
}

.cards {
  /* fonts */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 17px;
  max-width: 880px;
  margin: 40px auto;
}

.card {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; */
}

.cards__content {
  /* later */
}

.card__image {
  width: 282px;
  height: 282px;
  margin-bottom: -5px;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
  width: 242px;
  border-radius: 0 0 10px 10px;
  margin-right: 0;
}

.card__like-button {
  background: transparent url(../images/heart-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
}
